table {
    /* border-collapse: collapse; */
    overflow: hidden;
    border-spacing: 0;

    width: 100%;
    margin: auto auto;
    border-radius: var(--border--soft);
    border-bottom: 1px solid rgb(225, 225, 225);
}

th,
td {
    padding: 0.8rem 1rem;
    text-align: center;
}

th {
    background-color: rgb(180, 180, 180);
}

td:first-child {
    border: 1px solid rgb(225, 225, 225);
}

td:last-child {
    border-right: 1px solid rgb(225, 225, 225);
}

tr:last-child td,
tr:not(:first-child) td {
    border-bottom: 1px solid rgb(225, 225, 225);
}

td.action > a{
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}