<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-angona | Donations</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
</head>
<style>
    .container{
        text-align: center;
        padding: 5rem;
    }
</style>
<body>
    <div class="container">
        <h1>Donations</h1>
        <table>
            <tr>
                <th>Id</th>
                <th>Church Id</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Sunday Id</th>
                <th>Is prediction</th>
            </tr>
            {% for donation in donations %} 
                <tr>
                    <td>{{donation.id}}</td>
                    <td>{{donation.church_id}}</td>
                    <td>{{donation.amount}}</td>
                    <td>{{donation.date}}</td>
                    <td>{{donation.sunday_id}}</td>
                    <td>{{donation.is_prediction}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>