<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-angona</title>
</head>
<body>
    {% if user %}
        <h2>Believer</h2>
        <p>Id : {{ user["id"] }}</p>
        <p>Name : {{ user["name"] }}</p>
        <p>FirstName : {{ user["first_name"] }}</p>
    {% endif %}
    <a href="login-form">Login</a> <br>
    <a href="donation-form">Donation</a> <br>
    <a href="prediction-form">Prediction</a> <br>
    <a href="donations">Donations</a> <br>
    <a href="loans">Loans Prediction</a> <br>
</body>
</html>